[Unit]
Description=Naggregator

[Service]
ExecStart=/opt/naggregator/bin/twistd \
    --nodaemon \
    --pidfile=/var/run/naggregator.pid \
    --logfile=/var/log/naggregator.log \
    naggregator

WorkingDirectory=/opt/naggregator

#User=nobody
#Group=nobody

Restart=always

[Install]
WantedBy=multi-user.target
